.searchInputs {
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    border: 1px solid;
    border-color: rgb(227, 212, 212);
    width: 300px;
    position: absolute;
    border-radius: 10px;
    right: 15px;
    top: 58px;
}

.searchInputs input {
    border: 0px;
    font-size: 16px;
    padding: 15px;
    height: 30px;
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchIcon {
    height: 30px;
    width: 50px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}

.dataResult {
    position: absolute;
    right: 15px;
    top: 95px;
    width: 300px;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    border-radius: 10px;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
    margin-top: 10px;
}

.dataItem {
    text-decoration: none;
}

.dataItem:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#clearBtn {
    cursor: pointer;
}