.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    width: 35rem;
    margin: auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 80vh - 25px);
    background: #fff;
    border-radius: calc(5.8rem * 0.5);
    padding: 3rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border: 2px solid #999;
    overflow: auto;
}

.close-icon {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close-icon:hover {
    opacity: 1;
}

.close-icon:before,
.close-icon:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close-icon:before {
    transform: rotate(45deg);
}

.close-icon:after {
    transform: rotate(-45deg);
}

.submit {
    position: relative;
    border: 10rem;
    width: 12rem;
    height: 3rem;
    top: 1rem;
    left: 15rem;
    padding: 0 calc(5.8rem * 0.5);
    border-radius: calc(5.8rem * 0.3);
    box-shadow: 0 0 2rem rgb(0, 0, 0, 20%);
}