.searchstudent{
    position: fixed;
    width: 95%;
    height: 20vh;
    top: 0;
    right: 0;
}

.searchstudentInputs {
    display: flex;
    border: 1px solid;
    border-color: rgb(227, 212, 212);
    width: 200px;
    position: relative;
    margin: auto;
    margin-top: calc(100vh - 80vh + 90px);
    border-radius: 10px;
}

.searchstudentInputs input {
    background: white;
    color: rgb(0, 0, 0);
    transition: all 200ms ease;
    border-left: 0 solid transparent;
    border: 0rem;
    width: 15rem;
    height: 3rem;
    padding: 0 calc(5.8rem * 0.25);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchstudentIcon {
    height: 28px;
    width: 50px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}

.datastudentResult::-webkit-scrollbar {
    display: none;
}

.datastudentResult .dataItem {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    color: black;
}

.datastudentItem p {
    margin-left: 10px;
    margin-top: 10px;
}

.datastudentItem {
    text-decoration: none;
}

.datastudentItem:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#clearBtn {
    cursor: pointer;
}

.datastudentResult {
    position: relative;
    margin: auto;
    width: 200px;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
}